*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.box{
    height: 500px;
    width: 500px;
    background-color: black;
    position: relative;
    border: 2px solid #ffffff;
}
.small_box{
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid brown;
}